.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
  }
  
  .logo img {
    height: 40px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: lightgray;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  }
  